<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AdminAccountCreateDlg" widgetVar="AdminAccountCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAdminAccountTitle}">
            <h:form id="AdminAccountCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{adminAccountController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAdminAccountLabel_id}" for="id" />
                        <p:inputText id="id" value="#{adminAccountController.selected.id}" title="#{bundle.CreateAdminAccountTitle_id}" required="true" requiredMessage="#{bundle.CreateAdminAccountRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateAdminAccountLabel_username}" for="username" />
                        <p:inputText id="username" value="#{adminAccountController.selected.username}" title="#{bundle.CreateAdminAccountTitle_username}" />
                        <p:outputLabel value="#{bundle.CreateAdminAccountLabel_password}" for="password" />
                        <p:inputText id="password" value="#{adminAccountController.selected.password}" title="#{bundle.CreateAdminAccountTitle_password}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{adminAccountController.create}" value="#{bundle.Save}" update="display,:AdminAccountListForm:datalist,:growl" oncomplete="handleSubmit(args,'AdminAccountCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AdminAccountCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
