<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookEditDlg" widgetVar="BookEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBookTitle}">
            <h:form id="BookEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBookLabel_bookID}" for="bookID" />
                        <p:inputText id="bookID" value="#{bookController.selected.bookID}" title="#{bundle.EditBookTitle_bookID}" required="true" requiredMessage="#{bundle.EditBookRequiredMessage_bookID}"/>
                        <p:outputLabel value="#{bundle.EditBookLabel_bookName}" for="bookName" />
                        <p:inputText id="bookName" value="#{bookController.selected.bookName}" title="#{bundle.EditBookTitle_bookName}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_bookDes}" for="bookDes" />
                        <p:inputText id="bookDes" value="#{bookController.selected.bookDes}" title="#{bundle.EditBookTitle_bookDes}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_bookIMG}" for="bookIMG" />
                        <p:inputText id="bookIMG" value="#{bookController.selected.bookIMG}" title="#{bundle.EditBookTitle_bookIMG}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_bookfile}" for="bookfile" />
                        <p:inputText id="bookfile" value="#{bookController.selected.bookfile}" title="#{bundle.EditBookTitle_bookfile}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_bookstatus}" for="bookstatus" />
                        <p:inputText id="bookstatus" value="#{bookController.selected.bookstatus}" title="#{bundle.EditBookTitle_bookstatus}" />
                        <p:outputLabel value="#{bundle.EditBookLabel_authorID}" for="authorID" />
                        <p:selectOneMenu id="authorID" value="#{bookController.selected.authorID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{authorController.itemsAvailableSelectOne}"
                                           var="authorIDItem"
                                           itemValue="#{authorIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditBookLabel_categoryID}" for="categoryID" />
                        <p:selectOneMenu id="categoryID" value="#{bookController.selected.categoryID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{categoryController.itemsAvailableSelectOne}"
                                           var="categoryIDItem"
                                           itemValue="#{categoryIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditBookLabel_producerID}" for="producerID" />
                        <p:selectOneMenu id="producerID" value="#{bookController.selected.producerID}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{producerController.itemsAvailableSelectOne}"
                                           var="producerIDItem"
                                           itemValue="#{producerIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bookController.update}" value="#{bundle.Save}" update="display,:BookListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BookEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BookEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
