<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookViewDlg" widgetVar="BookViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBookTitle}">
            <h:form id="BookViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookController.selected != null}">
                        <h:outputText value="#{bundle.ViewBookLabel_bookID}"/>
                        <h:outputText value="#{bookController.selected.bookID}" title="#{bundle.ViewBookTitle_bookID}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_bookName}"/>
                        <h:outputText value="#{bookController.selected.bookName}" title="#{bundle.ViewBookTitle_bookName}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_bookDes}"/>
                        <h:outputText value="#{bookController.selected.bookDes}" title="#{bundle.ViewBookTitle_bookDes}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_bookIMG}"/>
                        <h:outputText value="#{bookController.selected.bookIMG}" title="#{bundle.ViewBookTitle_bookIMG}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_bookfile}"/>
                        <h:outputText value="#{bookController.selected.bookfile}" title="#{bundle.ViewBookTitle_bookfile}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_bookstatus}"/>
                        <h:outputText value="#{bookController.selected.bookstatus}" title="#{bundle.ViewBookTitle_bookstatus}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_authorID}"/>
                        <h:outputText value="#{bookController.selected.authorID}" title="#{bundle.ViewBookTitle_authorID}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_categoryID}"/>
                        <h:outputText value="#{bookController.selected.categoryID}" title="#{bundle.ViewBookTitle_categoryID}"/>
                        <h:outputText value="#{bundle.ViewBookLabel_producerID}"/>
                        <h:outputText value="#{bookController.selected.producerID}" title="#{bundle.ViewBookTitle_producerID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BookViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
