<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProducerEditDlg" widgetVar="ProducerEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProducerTitle}">
            <h:form id="ProducerEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{producerController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProducerLabel_producerID}" for="producerID" />
                        <p:inputText id="producerID" value="#{producerController.selected.producerID}" title="#{bundle.EditProducerTitle_producerID}" required="true" requiredMessage="#{bundle.EditProducerRequiredMessage_producerID}"/>
                        <p:outputLabel value="#{bundle.EditProducerLabel_producerName}" for="producerName" />
                        <p:inputText id="producerName" value="#{producerController.selected.producerName}" title="#{bundle.EditProducerTitle_producerName}" />
                        <p:outputLabel value="#{bundle.EditProducerLabel_producerAddress}" for="producerAddress" />
                        <p:inputText id="producerAddress" value="#{producerController.selected.producerAddress}" title="#{bundle.EditProducerTitle_producerAddress}" />
                        <p:outputLabel value="#{bundle.EditProducerLabel_producerPhone}" for="producerPhone" />
                        <p:inputText id="producerPhone" value="#{producerController.selected.producerPhone}" title="#{bundle.EditProducerTitle_producerPhone}" />
                        <p:outputLabel value="#{bundle.EditProducerLabel_producerEmail}" for="producerEmail" />
                        <p:inputText id="producerEmail" value="#{producerController.selected.producerEmail}" title="#{bundle.EditProducerTitle_producerEmail}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{producerController.update}" value="#{bundle.Save}" update="display,:ProducerListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProducerEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProducerEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
