<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListProducerTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="ProducerListForm">
                <p:panel header="#{bundle.ListProducerTitle}">
                    <p:dataTable id="datalist" value="#{producerController.items}" var="item"
                                 selectionMode="single" selection="#{producerController.selected}"
                                 paginator="true"
                                 rowKey="#{item.producerID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProducerTitle_producerID}"/>
                            </f:facet>
                            <h:outputText value="#{item.producerID}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProducerTitle_producerName}"/>
                            </f:facet>
                            <h:outputText value="#{item.producerName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProducerTitle_producerAddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.producerAddress}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProducerTitle_producerPhone}"/>
                            </f:facet>
                            <h:outputText value="#{item.producerPhone}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProducerTitle_producerEmail}"/>
                            </f:facet>
                            <h:outputText value="#{item.producerEmail}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{producerController.prepareCreate}" update=":ProducerCreateForm" oncomplete="PF('ProducerCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":ProducerViewForm" oncomplete="PF('ProducerViewDialog').show()" disabled="#{empty producerController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ProducerEditForm" oncomplete="PF('ProducerEditDialog').show()" disabled="#{empty producerController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{producerController.destroy}" update=":growl,datalist" disabled="#{empty producerController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
