<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProducerViewDlg" widgetVar="ProducerViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProducerTitle}">
            <h:form id="ProducerViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{producerController.selected != null}">
                        <h:outputText value="#{bundle.ViewProducerLabel_producerID}"/>
                        <h:outputText value="#{producerController.selected.producerID}" title="#{bundle.ViewProducerTitle_producerID}"/>
                        <h:outputText value="#{bundle.ViewProducerLabel_producerName}"/>
                        <h:outputText value="#{producerController.selected.producerName}" title="#{bundle.ViewProducerTitle_producerName}"/>
                        <h:outputText value="#{bundle.ViewProducerLabel_producerAddress}"/>
                        <h:outputText value="#{producerController.selected.producerAddress}" title="#{bundle.ViewProducerTitle_producerAddress}"/>
                        <h:outputText value="#{bundle.ViewProducerLabel_producerPhone}"/>
                        <h:outputText value="#{producerController.selected.producerPhone}" title="#{bundle.ViewProducerTitle_producerPhone}"/>
                        <h:outputText value="#{bundle.ViewProducerLabel_producerEmail}"/>
                        <h:outputText value="#{producerController.selected.producerEmail}" title="#{bundle.ViewProducerTitle_producerEmail}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProducerViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
