<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AuthorEditDlg" widgetVar="AuthorEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAuthorTitle}">
            <h:form id="AuthorEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{authorController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAuthorLabel_authorID}" for="authorID" />
                        <p:inputText id="authorID" value="#{authorController.selected.authorID}" title="#{bundle.EditAuthorTitle_authorID}" required="true" requiredMessage="#{bundle.EditAuthorRequiredMessage_authorID}"/>
                        <p:outputLabel value="#{bundle.EditAuthorLabel_authorName}" for="authorName" />
                        <p:inputText id="authorName" value="#{authorController.selected.authorName}" title="#{bundle.EditAuthorTitle_authorName}" required="true" requiredMessage="#{bundle.EditAuthorRequiredMessage_authorName}"/>
                        <p:outputLabel value="#{bundle.EditAuthorLabel_authorAge}" for="authorAge" />
                        <p:inputText id="authorAge" value="#{authorController.selected.authorAge}" title="#{bundle.EditAuthorTitle_authorAge}" />
                        <p:outputLabel value="#{bundle.EditAuthorLabel_authorPhone}" for="authorPhone" />
                        <p:inputText id="authorPhone" value="#{authorController.selected.authorPhone}" title="#{bundle.EditAuthorTitle_authorPhone}" />
                        <p:outputLabel value="#{bundle.EditAuthorLabel_authorEmail}" for="authorEmail" />
                        <p:inputText id="authorEmail" value="#{authorController.selected.authorEmail}" title="#{bundle.EditAuthorTitle_authorEmail}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{authorController.update}" value="#{bundle.Save}" update="display,:AuthorListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AuthorEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AuthorEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
