<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListAuthorTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="AuthorListForm">
                <p:panel header="#{bundle.ListAuthorTitle}">
                    <p:dataTable id="datalist" value="#{authorController.items}" var="item"
                                 selectionMode="single" selection="#{authorController.selected}"
                                 paginator="true"
                                 rowKey="#{item.authorID}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuthorTitle_authorID}"/>
                            </f:facet>
                            <h:outputText value="#{item.authorID}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuthorTitle_authorName}"/>
                            </f:facet>
                            <h:outputText value="#{item.authorName}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuthorTitle_authorAge}"/>
                            </f:facet>
                            <h:outputText value="#{item.authorAge}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuthorTitle_authorPhone}"/>
                            </f:facet>
                            <h:outputText value="#{item.authorPhone}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAuthorTitle_authorEmail}"/>
                            </f:facet>
                            <h:outputText value="#{item.authorEmail}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{authorController.prepareCreate}" update=":AuthorCreateForm" oncomplete="PF('AuthorCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":AuthorViewForm" oncomplete="PF('AuthorViewDialog').show()" disabled="#{empty authorController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":AuthorEditForm" oncomplete="PF('AuthorEditDialog').show()" disabled="#{empty authorController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{authorController.destroy}" update=":growl,datalist" disabled="#{empty authorController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
