<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AuthorViewDlg" widgetVar="AuthorViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAuthorTitle}">
            <h:form id="AuthorViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{authorController.selected != null}">
                        <h:outputText value="#{bundle.ViewAuthorLabel_authorID}"/>
                        <h:outputText value="#{authorController.selected.authorID}" title="#{bundle.ViewAuthorTitle_authorID}"/>
                        <h:outputText value="#{bundle.ViewAuthorLabel_authorName}"/>
                        <h:outputText value="#{authorController.selected.authorName}" title="#{bundle.ViewAuthorTitle_authorName}"/>
                        <h:outputText value="#{bundle.ViewAuthorLabel_authorAge}"/>
                        <h:outputText value="#{authorController.selected.authorAge}" title="#{bundle.ViewAuthorTitle_authorAge}"/>
                        <h:outputText value="#{bundle.ViewAuthorLabel_authorPhone}"/>
                        <h:outputText value="#{authorController.selected.authorPhone}" title="#{bundle.ViewAuthorTitle_authorPhone}"/>
                        <h:outputText value="#{bundle.ViewAuthorLabel_authorEmail}"/>
                        <h:outputText value="#{authorController.selected.authorEmail}" title="#{bundle.ViewAuthorTitle_authorEmail}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AuthorViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
