<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/adminAccount/List" value="Show All AdminAccount Items"/>
        <br />
        <h:link outcome="/author/List" value="Show All Author Items"/>
        <br />
        <h:link outcome="/book/List" value="Show All Book Items"/>
        <br />
        <h:link outcome="/category/List" value="Show All Category Items"/>
        <br />
        <h:link outcome="/producer/List" value="Show All Producer Items"/>
    </h:body>





</html>

